body {
	background-color: gray;
	margin: 0;
}
.one {
	background-image: url(../images/rcarey.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}


.main{
	font-size: 2em;
	margin-left: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin-top: 150px;
	margin-bottom: 0px;
	display: block;
	position: absolute;
	text-align: center;
}
.center{
	font-family: 'Raleway', sans-serif;
	margin-top: 5px;
	text-decoration: none;
	
}

.container{
    width: 100px;
    height: 50px;

}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}

.name{
	margin-bottom: 0px;
}

nav a {
	text-decoration: none;
	
}

nav .twitter {
	display: inline-block;
	background: url(../images/twitter.png) no-repeat 50% 50%;
	width: 80px;
	height: 80px;
}

nav .twitter:hover {
	opacity: 0.5;
}
nav .linkedin {
	display:inline-block;
	background: url(../images/linkedin.png) no-repeat 50% 50%;
	width: 80px;
	height: 80px;
}

nav .linkedin:hover {
	opacity: 0.5;
}
nav .youtube {
	display: inline-block;
	background: url(../images/youtube.png) no-repeat 50% 50%;
	width: 80px;
	height: 80px;
}

nav .youtube:hover {
	opacity: 0.5;

}
nav .google {
	display: inline-block;
	background: url(../images/google115.png) no-repeat 50% 50%;
	width: 80px;
	height: 80px;
}

nav .google:hover {
	opacity: 0.5;

}

.about{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	margin-left: 2px;
	text-align: center;
	font-size: x-large;

}


.two {
	height: 100vh;
	background-color: LightGray;
	background: url(../images/computer.png) no-repeat 50% 50%;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 2.5;
	text-align: center;
	padding: 20px;
	font-size: 2.5em;
	color: white;
	padding-left: 50px;
	padding-right: 50px;

}

.three {
	height: 100vh;
	background-color: LightGray;
	background: url(../images/computer3.jpg) no-repeat 50% 50%;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 2.5;
	text-align: center;
	padding: 20px;
	font-size: x-large;
	color: white;
	padding-left: 50px;
	padding-right: 50px;

}

.three a {
	background: url(../images.computer3.jpg) no-repeat 50% 50%;
	display: block;
	width: 50px;
	height: 50px;
}

.fun {
	display: none;
}
.video iframe {
  display: inline-block;
  width: 440px;
  margin: 0 30px;
}

@media (max-width: 768px){

	.container {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0
	}

	.one {
		background-position: 64% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 50vh;
		font-size: .75em;
		margin-bottom: 500px;




		
	}

	nav .twitter,
	nav .linkedin,
	nav .google,
	nav .youtube {
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		margin-top: 0 auto;
	}

	.main {
		display: block;
		width: 100%;
		position: relative;
		margin-top: 0;
		margin-left: 0;
		padding-top: 450px;
		padding-bottom: 450px;
	




	}
	
	}
	.name {
		margin-top: 0px;
		

	}
	.about {
		font-size: 1.25em;

	}
	.aboutp {
		font-size: .7em;
	}
	.center {
		margin-top: 0px;
		font-size: 2em;
	}
	.video {
		display: block;
		margin-top: 10px;

	}
	.work {
		margin-top: 10px; 
		margin-bottom: 0;
	}

}


